
<form [formGroup]="form" (ngSubmit)="OnFormSubmitted()">
    <div class="row g-3" [style.margin-top.px]="5">    
        <app-form-data-usuario [formGroup]="form" (uploadFileEvent)="updateImagenPerfil($event)"></app-form-data-usuario>

        <mat-form-field appearance="outline">
            <mat-label>Especialidad</mat-label>
            <mat-select formControlName="especialidad" multiple>
              <mat-option>-- Sin seleccionar --</mat-option>
              <mat-option *ngFor="let i of DB.especialidades" value="{{i.especialidad}}"> {{ i.especialidad }}</mat-option>
            </mat-select>
            @if (controlHasErrors('especialidad')) {
                <mat-error>{{ getControlErrorMessage('especialidad') }}</mat-error>
            }
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Agregar nueva Especialidad</mat-label>
            <!-- <input matInput  type="text" class="form-control" formControlName="nuevaEspecialidad" #v (input)="v.value = toTitleCase(v.value)"/> -->
            <input matInput appToTitleCase type="text" class="form-control" formControlName="nuevaEspecialidad"/>
            <button
                type="button"
                mat-icon-button
                matSuffix
                (click)="agregarEspecialidad()"
                [attr.aria-label]="'Agregar nueva Especialidad'"
            >
              <mat-icon>{{ 'add' }}</mat-icon>
            </button>
            @if (controlHasErrors('nuevaEspecialidad')) {
                <mat-error>{{ getControlErrorMessage('nuevaEspecialidad') }}</mat-error>
            }
          </mat-form-field>
    </div>

    <hr class="my-4"/>

    <mat-error *ngIf="failedRegister" [style.margin-bottom.px]="15">{{ registerError }}</mat-error>
    
    <div class="flex centered" [style.margin-bottom.px]="15">
        <re-captcha (resolved)="resolved($event)" siteKey="6Ldx5vspAAAAAN9VmxrCCE5_HpIOdWzNjXnyTZPf"></re-captcha>
    </div>

    <div class="flex">
        <button mat-flat-button color="primary" type="submit" [disabled]="!this.form.valid || !captchaResponse">{{submitBtnTxt}}</button>
    </div>
</form>
