
<div class="h-100 p-5 bg-body-tertiary border rounded-3" [style.overflow]="'hidden'">
    <h2>Registrarse</h2>
    <div class="btn-container flexrow centered">
      <button mat-flat-button color="primary" [class.unactive]="vistaEspecialista || vistaEspecialista == null"
          (click)="vistaEspecialista = false" [matTooltip]="'Paciente'">
          <fa-icon [icon]="iconPaciente"></fa-icon>
      </button>

      <button mat-flat-button color="primary" [class.unactive]="!vistaEspecialista || vistaEspecialista == null"
          (click)="vistaEspecialista = true" [matTooltip]="'Especialista'">
          <fa-icon [icon]="iconEspecialista"></fa-icon>
      </button>
    </div>
  
    <div class="tab-container" *ngIf="vistaEspecialista != null">
      <div [@leftTabAnimation]="vistaEspecialista ? 'invisible' : 'visible'">
        <app-form-alta-paciente></app-form-alta-paciente>
      </div>
      <div [@rightTabAnimation]="vistaEspecialista ? 'visible' : 'invisible'">
        <app-form-alta-especialista></app-form-alta-especialista>
      </div>
    </div>

    <p
    [style.padding]="'15px 0 '"
    [style.text-align]="'center'">
      ¿Ya tenés una cuenta? <a [routerLink]="['/login']">Iniciar Sesión</a>
    </p>
</div>
