
.btn-container {
    margin-top: 20px;
    gap: 10px;
}

.btn-container button {
    color: #f7ecfd;
    background-color: #673ab7;
    padding: 40px 0;
    width: 50%;
}

.btn-container button fa-icon {
    font-size: 30px;
}

.unactive {
    background-color: rgb(60, 60, 60) !important;
}

.tab-container {
    display: flex;
    flex-direction: row;
    width: 200%;
}
