
<div class="page-container flex centered">
    <h2>Nuestra clínica cuenta con:</h2>
    <div>
        <h3>Una Sala de Espera General</h3>
        <p>Nuestra <span>Sala de Espera</span> general cuenta con una capacidad para 40 personas (sentadas).</p>
        <div class="main-img" [style.background-image]="'url(../../../assets/img/instalaciones/sala-de-espera.jpg)'">
            <img class="logo" [src]="watermark" [alt]="watermarkAlt">
        </div>
    </div>
    <div>
        <h3>Seis Consultorios</h3>
        <p>Nuestros <span>Consultorios</span> multi-especialidad están equipados de manera tal que se adaptan a los diferentes requerimientos de cada especialidad médica. Esta flexibilidad a la hora de usar las instalaciones de la clínica permite readecuarnos instantáneamente a la posible demanda específica de una especialidad puntual en un momento dado.</p>
        <div class="main-img" [style.background-image]="'url(../../../assets/img/instalaciones/consultorio.jpg)'">
            <img class="logo" [src]="watermark" [alt]="watermarkAlt">
        </div>
    </div>
    <div>
        <h3>Dos Laboratorios Clínicos</h3>
        <p>Nuestros <span>Laboratorios</span> están totalmente equipados con la última tecnología del mercado. Se encuentran ubicados en la misma clínica y allí se realizan los análisis clínicos de baja y media complejidad.</p>
        <p>La calificación de nuestro personal y el equipamiento en nuestros laboratorios permite que gran parte de los análisis requeridos por nuestros especialistas puedan realizarse hasta dentro de las 48 horas y, de ser necesario, algunos se realizan en el acto.</p>
        <div class="main-img" [style.background-image]="'url(../../../assets/img/instalaciones/laboratorio.webp)'">
            <img class="logo" [src]="watermark" [alt]="watermarkAlt">
        </div>
    </div>
</div>
