
<div class="container py-4">
    <div class="row align-items-md-stretch">
        <div>
          <div class="h-100 p-5 rounded-3">
            <mat-tab-group>
              <mat-tab label="Mi Perfil"> <app-perfil></app-perfil> </mat-tab>
              <mat-tab label="Mis Horarios" *ngIf="this.session.isSpecialistLevelSession()"> <app-horarios></app-horarios> </mat-tab>
              <mat-tab label="Historia Clínica" *ngIf="session.isPatientLevelSession()"> <app-listado-historia-clinica></app-listado-historia-clinica> </mat-tab>
            </mat-tab-group>
          </div>
        </div>
    </div>
</div>
