
form {
    overflow-x: hidden;
    overflow-y: hidden;
}

.btn-submit:disabled {
    background-color: #e9ecef;
    border: 1px solid black;
    color: black;
}

mat-form-field button {
    border: none;
    background-color: transparent;
    margin-right: 5px;
}

mat-form-field {
    width: 100%;
    margin-top: 16px;
}

.btn-submit {
    font-size: 15px;
}